@font-face{
  font-family: 'Crafty Girls';
  src: url('../assets/fonts/CraftyGirls-Regular.ttf');
}

.hello {
  font-family: 'Crafty Girls', cursive;
  color: red;
  background: url('../assets/img/example.jpg');
}
